.header
{
    --header-padding: 1.5rem;
    position: fixed;
    z-index: 9999;
    color: white;
    display: flex;
    width: 100%;
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    transition: background-color 0.2s ease-in;
}

.header.scrolled
{
    background-color: var(--header-bg);
    box-shadow: 0 0.1rem .5rem #0002;
}

.logo
{
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    display: grid;
    place-items: center;
    font-weight: 400;
    background-image: var(--title-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header.scrolled .logo
{
    background-image: none;
    -webkit-background-clip: none;
    background-clip: none;
    -webkit-text-fill-color: initial;
    color: white;
}

.nav-links
{
    --clip-path-circle-pos: top right;
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    flex-direction: column;
    clip-path: circle(0 at var(--clip-path-circle-pos));
    right: 0;
    padding: var(--header-height) 0 2rem 0;
    z-index: -2;
    width: 100%;
    background-color: var(--header-bg);
    transition-property: clip-path;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.62, 0.34, 0.9, 0.48);
    box-shadow: 0 0.1rem .5rem #0002;
}

.nav-links.shown
{
    clip-path: circle(150% at var(--clip-path-circle-pos));
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.nav-links::after
{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 72px;
    background-color: #666;
}

.nav-links li
{
    margin-top: 2rem;
}

.nav-links a
{
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.1rem;
    font-weight: 300;
}

.nav-links a:hover,
.nav-links a:focus
{
    opacity: 0.75;
}

.nav-links .active
{
    font-weight: 400;
}

.nav-trigger
{
    position: absolute;
    display: grid;
    height: 8vmax;
    aspect-ratio: 1/1;
    transform: translateY(-50%);
    top: 50%;
    right: calc(var(--header-padding) - ((8vmax - 2rem) / 2));
    place-items: center;
}

.nav-trigger:focus
{
    outline: none;
}

.nav-trigger::-moz-focus-inner
{
    border: 0;
}

.menu-icon
{
    width: 2rem;
    pointer-events: none;
}

.menu-icon .line
{
    width: 100%;
    height: 3px;
    background-color: #ddd;
    border-radius: 10rem;
}

.menu-icon .line + .line
{
    margin-top: 5px;
}