@media only screen and (min-width: 760px)
{
    :root
    {
        --header-height: 12vh;
    }

    section:not(.hero)
    {
        max-width: 70rem;
        margin: 0 auto;
    }

    .header
    {
        padding: 0 2rem;
        max-height: 6rem;
    }

    .nav-links
    {
        clip-path: none;
        flex-direction: row;
        width: auto;
        background: none;
        padding: 0;
        position: static;
        opacity: 1;
    }

    .nav-links::after
    {
        content: none;
    }

    .nav-links li
    {
        margin: 0;
    }

    .nav-links li + li
    {
        margin-left: 2rem;
    }

    .nav-trigger
    {
        display: none;
    }

    .nav-trigger:hover .line,
    .nav-trigger:focus-visible .line
    {
        background-color: var(--primary-color);
        box-shadow: 0 0 10px #000;
        opacity: 0.5;
    }

    .hero
    {
        max-height: 1000px;
    }

    .about-me-bg
    {
        height: 45%;
        transform: translateY(-50%);
        top: 52%;
    }

    .about-me h1
    {
        font-size: 5rem;
        margin-top: 0;
    }

    .about-me p
    {
        font-size: 1.3rem;
    }

    .discover-more
    {
        bottom: 10vh;
    }

    .project-card
    {
        width: 300px;
        height: 400px;
    }

    /* .project-card
    {
        display: flex;
        width: 80%;
        height: max-content;
        flex-direction: row;
        padding-bottom: 0;
        justify-content: space-between;
        box-shadow: none;
        border-radius: 0;
    }

    .project-card:nth-child(even) img
    {
        order: 1;
    }

    .project-card img
    {
        flex-basis: 100%;
        max-width: 50%;
        height: auto;
        aspect-ratio: 16 / 9;
        margin-bottom: 0;
    }
    
    .project-card-content
    {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    .project-info
    {
        max-height: 25%;
        width: 50%;
        font-size: 1.2rem;
    } */

    .primary-btn:hover
    {
        color: #202020;
    }

    .primary-btn::before
    {
        content: '';
        position: absolute;
        inset: 2px;
        background: var(--primary-bg);
        z-index: -1;
        border-radius: 100vw;
        transition: 0.2s;
    }
    
    .primary-btn:active::before
    {
        all: none;
    }
    
    .primary-btn:hover::before
    {
        inset: 100%;
    }

    .primary-btn:active
    {
        opacity: 0.7;
    }

    footer
    {
        max-height: 6rem;
    }
}

@media only screen and (min-width: 2000px)
{
    .header-inner
    {
        max-width: 100rem;
    }
}
