@media only screen and (min-width: 760px)
{
    section:not(.hero)
    {
        max-width: 70rem;
        margin: 0 auto;
    }

    .header
    {
        padding: 0 2rem;
    }

    .nav-links
    {
        clip-path: none;
        flex-direction: row;
        width: auto;
        background: none;
        padding: 0;
        position: static;
        opacity: 1;
    }

    .nav-links::after
    {
        content: none;
    }

    .nav-links li
    {
        margin: 0;
    }

    .nav-links li + li
    {
        margin-left: 2rem;
    }

    .nav-trigger
    {
        display: none;
    }

    .nav-trigger:hover .line,
    .nav-trigger:focus-visible .line
    {
        background-color: var(--primary-color);
        box-shadow: 0 0 10px #000;
        opacity: 0.5;
    }
    
    .hero
    {
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        text-align: center;
    }

    .about-me-bg
    {
        height: 45%;
        transform: translateY(-50%);
        top: 52%;
    }
    
    .about-me
    {
        margin-top: -10vh;
    }

    .about-me h1
    {
        font-size: 6rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .about-me p
    {
        font-size: 1.5rem;
    }

    .discover-more
    {
        bottom: 10vh;
    }

    .learn-more:hover
    {
        color: #202020;
    }

    .learn-more::before
    {
        content: '';
        position: absolute;
        inset: 2px;
        background: var(--primary-bg);
        z-index: -1;
        border-radius: 100vw;
        transition: 0.2s;
    }
    
    .learn-more:active::before
    {
        all: none;
    }
    
    .learn-more:hover::before
    {
        inset: 100%;
    }


    .learn-more:active
    {
        opacity: 0.7;
    }
}