.projects .title
{
    margin-bottom: 1em;
}

.project-cards
{
    margin-bottom: 2rem;
}

.project-card
{
    width: 250px;
    height: 350px;
    box-shadow: 0 0 10px #00000040;
    border-radius: 0.2rem;
    text-align: center;
    overflow: hidden;
    padding-bottom: 2rem;
}

.project-card img
{
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
}

.project-name
{
    margin-bottom: 1rem;
}

.project-info
{
    color: #bbb;
    padding: 0 1rem;
    margin-bottom: 2rem;
    font-size: 0.95rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-height: 15%;
}