.projects
{
    padding-bottom: 2rem;
}

.projects .title
{
    margin-bottom: 1em;
}

.project-card
{
    width: 250px;
    height: auto;
    min-height: 340px;
    max-height: 400px;
    box-shadow: 0 0 10px #00000040;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
    padding: 1rem 0 2rem;
}

.project-card img
{
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
}

.project-name
{
    margin-bottom: 1rem;
}

.project-info
{
    color: #bbb;
    padding: 0 1rem;
    margin-bottom: 2rem;
    font-size: 0.95rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.learn-more
{
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-image: var(--title-gradient);
    padding: 0.6em 1.5em;
    border-radius: 100vw;
    font-weight: 600;
    box-shadow: 0 0 10px #000;
    z-index: 1;
    color: #ddd;
    transition: 0.1s;
}

.learn-more:active
{
    color: #202020;
}

.learn-more::before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: var(--primary-bg);
    z-index: -1;
    border-radius: 100vw;
    transition: 0.2s;
}

.learn-more:active::before
{
    inset: 100%;
}