.intro
{
    font-size: 1.2rem;
    margin-bottom: 2em;
    max-width: 30ch;
    letter-spacing: .05rem;
}

.skill-card
{
    width: 120px;
    height: auto;
    text-align: center;
    border-radius: 1rem;
}

.skill-card :is(ion-icon, img)
{
    --size: 6rem;
    mix-blend-mode: color-dodge;
}

.skill-card ion-icon
{
    font-size: var(--size);
    margin-bottom: 1rem;
    color: #abb;
}

.skill-card img
{
    width: var(--size);
}