.intro
{
    font-size: 1.2rem;
    margin-bottom: 2em;
    max-width: 30ch;
}

.skill-cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.skill-card
{
    width: 120px;
    height: auto;
    text-align: center;
    border-radius: 1rem;
}

.skill-card ion-icon
{
    font-size: 6rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1rem;
    color: #ccc;
}

.skill-card img
{
    width: 6rem;
}