*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --accent-color: hsl(218, 95%, 64%);
    --primary-bg: hsl(218, 37%, 27%);
    --header-bg: hsl(218, 37%, 20%);
    --header-height: 72px;
}

html, body
{
    width: 100%;
}

html
{
    scroll-behavior: smooth;
    scrollbar-arrow-color: aquamarine;
    scroll-padding-top: var(--header-height);
}

body
{
    font-family: 'Nunito', sans-serif;
    
}


/* Main */

section[class]
{
    height: 100vh;
}

footer
{
    height: var(--header-height);
    background-color: var(--header-height);
}