*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --accent-color: hsl(218, 95%, 64%);
    --primary-bg: hsl(218, 37%, 27%);
    --header-bg: hsl(218, 37%, 20%);
    --header-height: 72px;
}

html, body
{
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body
{
    font-family: 'Nunito', sans-serif;
}


/* Main */

main
{
    scroll-snap-type: y mandatory;
}

section[class]
{
    height: 100vh;
    scroll-snap-align: center;
}
